<html>
	<head>
		{{> head}}
		{{> styletabela}}
		<meta charset="utf-8">
		<title>Filmator - Consulta</title>
		<style>
			.with-opacity {
				background-color: white;
				opacity: 0.8;
			}
			
		</style>
	</head>
	<body>
		<header id="top" class="header img-erro">
        <div class="text-vertical-center">
			<h1>Acesso Negado!</h1>
            <h3>Você está vendo esta mensagem porque você não tem acesso a essa página!</h3>
			<a href="/{{#exibeMenu}}menu{{/exibeMenu}}" class="btn btn-dark btn-lg"> < Voltar para página inicial</a>
		</div>
		</header>
		{{> scripts}}
	</body>
</html>