<html>
	<head>
		{{> head}}
		{{> styletabela}}
		<meta charset="utf-8">
		<title>Filmator - Consulta</title>
		<style>
			.with-opacity {
				background-color: white;
				opacity: 0.8;
			}
			
		</style>
	</head>
	<body>
		{{> nav}}
		<header id="top" class="header">
        <div class="text-vertical-center">
        	<br><br><br>
            <h1>Filmator</h1>
            <h3>Assista a séries e filmes quando quiser, onde quiser.</h3>
            <br>
			<div align="center">
				<form action="/salvar-avaliacao" method="post">
					<div class="divformulario">
						<label>Filme:</label>
						<select name="idFilme">
							{{#listaFilmes}}
								<option value="{{idFilme}}">{{nome}} ({{anoLancamento}})</option>
							{{/listaFilmes}}
						</select>
						<label>Nota:</label>
						<select name="nota">
							
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							
						</select>
						<input type="submit" required value="Salvar">
					</div>
				</form>
			</div>
		</div>
		</header>
		{{> scripts}}
	</body>
</html>