<html>
	<head>
		{{> head}}
		{{> styleformulario}}
		<meta charset="utf-8">
		<title>Filmator - Cadastro</title>
		
	</head>
	<body>
		{{> navmenu}}
		<header id="top" class="header">
			<div class="text-vertical-center">
				<h1>Filmator</h1>
				<h3>Assista a séries e filmes quando quiser, onde quiser.</h3>
				<br>
				{{#exibeMenuAdministrador}}
				<form action="/salvar-filme" method="post">
					<div class="divformulario">
					<label>Nome:</label>
						<input name="nome" type="text" required placeholder="Homem Aranha"></input>
					</div>
				
					<div class="divformulario">
						<label>Gênero:</label>
						<select name="genero">
							{{#listaGeneros}}
								<option value="{{name}}">{{descricao}}</option>
							{{/listaGeneros}}
						</select>
					</div>
				
					<div class="divformulario">
						<label>Ano de lançamento:</label>
						<input name="anoLancamento" type="text" required placeholder="Ex.: 2002">
					</div>
					
					<div class="divformulario">
						<label>Diretor:</label>
						<input name="diretor" type="text" required placeholder="Ex.: Sam Raimi">
					</div>
					
					<div class="divformulario">
						<label>Sinopse:</label>
						<input name="sinopse" type="text" required placeholder="Peter Parker (Tobey Maguire) é um jovem muito estudioso que mora com seus tios[...]">
					</div>
					
					<div class="divformulario">
						<label>Imagem:</label>
						<input name="imagem" type="url" required placeholder="http://www.capa-de-filmes.com.br/imagem-do-filme.png">
					</div>
					
					<div class="divformulario">
						<input name="cadastrar" class="btn btn-dark btn-lg" type="submit" required value="Cadastrar">
					</div>
				</form>
				{{/exibeMenuAdministrador}}
			</div>
		</header>
		{{> scripts}}
	</body>
</html>