<html>
	<head>
		{{> head}}
	    {{> styleformulario}}
	    <meta charset="utf-8">
	    <title>Filmator - Cadastro Usuario</title>
		
	</head>
	<body>
		{{> nav}}
		<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Filmator</h1>
			<h3>Assista a séries e filmes quando quiser, onde quiser.</h3>
			<br>
			<div align="center">
				<form action="/salvar-usuario" method="post">
					<div class="divformulario">
						<label>Login:</label>
						<input name="login" type="text" required placeholder="Login"></input>
					</div>
					
					<div class="divformulario">
						<label>Password:</label>
						<input name="password" type="password" required placeholder="Password"></input>
					</div>
				
					<div class="divformulario">
						<input class="btn btn-dark btn-lg" type="submit" required value="Cadastrar">
						<a href="/" class="btn btn-dark btn-lg">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
		</header>
		
		{{> scripts}}
	</body>
</html>