<html>
	<head>
		{{> head}}
		{{> styletabela}}
		<meta charset="utf-8">
		<title>Filmator - Consulta</title>
	</head>
	<body>
		{{> navmenunormal}}
		<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Filmator</h1>
            <h3>Assista a séries e filmes quando quiser, onde quiser.</h3>
            <br>		
			<div align="center">
				<table border=1>
					<tr> 
						<td>Nome</td>
						<td>Gênero</td>
						<td>Ano de Lançamento</td>
						<td>Diretor</td>
						<td>Sinopse</td>
						<td>Avaliação</td>
						<td>Sua Avaliação</td> 
					</tr>
					{{#Filmes}}
					<tr>
						<td>{{nome}}</td>	
						<td>{{genero}}</td>
						<td>{{anoLancamento}}</td>
						<td>{{diretor}}</td>
						<td>{{sinopse}}</td>
						<td>0</td>
						<td>
							<select class="form-control">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</td>
					</tr>
					{{/Filmes}}
				</table>
				
			</div>
		</div>
		</header>
		{{> scripts}}
	</body>
</html>