<html>
<head>
{{> head}}
	<meta charset="utf-8">
	   
	    <title>Filmator</title>
	
</head>
<body>
<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Filmator</h1>
            <h3>Assista a séries e filmes quando quiser, onde quiser.</h3>
            <br>
            <div align="center">
				<form action="/cadastroUsuario" method="GET">
					<input type="submit" class="btn btn-dark btn-lg" value="Cadastrar Usuário"></input>
				</form>
				<form action="/login" method="GET">
					<input type="submit" class="btn btn-dark btn-lg" value="Autenticar Usuário"></input>
				</form>
			</div>
        </div>
</header>
	

{{> scripts}}
</body>
</html>