<html>
	<head>
		{{> head}}
	    {{> styleformulario}}
	    <meta charset="utf-8">
	    <title>Filmator - Autentico Usuario</title>
		
	</head>
	<body>
       {{> nav}}
       {{> navhome}}
       
		<div align="center">
			<form action="/autenticarUsuario" method="post">
				<div class="divformulario">
					<label>Login:</label>
					<input name="login" type="text" required placeholder="Login"></input>
				</div>
				
				<div class="divformulario">
					<label>Password:</label>
					<input name="password" type="password" required placeholder="Password"></input>
				</div>
			
				<div class="divformulario">
					<input name="autenticar" type="submit" required value="Autenticar">
				</div>
			</form>
			{{#mensagemerro}}
				<h1>{{mensagemerro}}</h1>
			{{/mensagemerro}}
		</div>
		
	
		{{> scripts}}
	</body>
</html>