<html>
	<head>
	{{> head}}
		<meta charset="utf-8">
		   
			<title>Filmator</title>
		
	</head>
	<body>
	<header id="top" class="header">
			<div class="text-vertical-center">
				<h1>Filmator</h1>
				<h3>Assista a séries e filmes quando quiser, onde quiser.</h3>
				<br>
				{{#exibeMenu}}
					<div align="center">
						{{#exibeMenuAdministrador}}
							<a href="/cadastro-filme" class="btn btn-dark btn-lg">Cadastrar filme</a>
						{{/exibeMenuAdministrador}}
							<a href="/consulta" class="btn btn-dark btn-lg">Consultar filme</a>
					</div>
				{{/exibeMenu}}
			</div>
			</header>
	{{> scripts}}
	</body>
</html>